<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Message Analyzer</title>

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/jumbotron-narrow.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

    <style>
        .event a {
            background-color: #42B373 !important;
            background-image :none !important;
            color: #ffffff !important;
        }
        .center {
            text-align: center;
        }

        input[type="file"] {
            display: none;
        }
    </style>

    <script>
        $(function() {
            $('#fileinput').change(function() {
                $('#messages_form').submit();
            });
        });
    </script>
</head>

<body>

<div class="container">

    <div class="jumbotron">
        <h1>Message Analyzer</h1>
        <br />
        <div class="center">
            <p><label for="fileinput" class="btn btn-lg btn-success" role="button">Select your 'messages.htm'!</label></p>

            <form id="messages_form" enctype="multipart/form-data" action="/analyzer" method="post">
                <input id="fileinput" class="btn btn-lg btn-success" type="file" name="html">
            </form>
        </div>

    </div>

</div>

</body>
</html>
